<ul class="posts">
<% @posts.each do |p| %>
    <li>
    
        <h4><%= link_to "#{p.title}", category_post_path(category_id: 2, id: p.id) %></h4>
        <h4><%= p.title %></h4>
        <br>
        <image class="post-main-img" src="<%= p.main_img %>"/>
        <br>
        <p><%= p.preview[0..99] %>...</p>
    </li>
<% end %>
</ul>