//Normalize CSS
* {
    margin: 0;
    padding: 0;
}

//Color Scheme
$background-color: beige;
$dark-background-color: #f5deb3;

body {
    background-color: $background-color;
    // z-index: 0;
}

#top-nav {
    height: 100px;  
    width: 100%;
    background-color: #FFFFF0;
    position: fixed;
    z-index: -5;

    
}
input#main-search {
    margin-left: 35%;
    margin-top: 1.75%;
    width: 300px;
    border-radius: 25px;
    height: 25px;
    padding: 5px;
    position: fixed;
}

nav {
    background-color: $dark-background-color;
    height: 100vh;
    margin: 0 0 0 5%;
    width: 300px;

    div#logo {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 170px;
    }

    #menu {
        list-style-type: none;
        
        li {
            height: 25px;
            border: 1px solid black;
        }
    }
}

main {
    background-color: rgba(255,255,240,0.5);
}