//Normalize CSS
* {
    margin: 0;
    padding: 0;
}

//Color Scheme
$background-color: beige;
$dark-background-color: rgba(217,179,130,0.2);

body {
    background-color: $background-color;
}

nav {
    background-color: $dark-background-color;
    height: 100vh;
    margin: 0 0 0 2%;
    width: 400px;
}