//Normalize CSS
* {
    margin: 0;
    padding: 0;
}

//Color Scheme
$background-color: beige;
$dark-background-color: #f5deb3;

body {
    background-color: $background-color;
}

#top-nav {
    height: 100px;  
    width: 100%;
    background-color: #FFFFF0;
    position: fixed;
    z-index: -5;
}

div#top-right-menu {
    position: fixed;
    top: 1.75%;
    left: 85%;
    width: 20%;

    ul {
        list-style-type: none;
        display: flex;
        align-items: center;
        font-size: 1.15em;

        li {
            margin: 2.5%;

            a {
                text-decoration: none;
            }
        }
    }
}

div#main-search {
    margin-left: 35%;
    margin-top: 1.75%;
    position: fixed;

    #search-bar {
        width: 300px;
        border-radius: 15px;
        height: 25px;
        padding: 5px;
    }
}

#mag-glasses {
    height: 25px;
    position: absolute;
    top: 15%;
    left: 85%;
}

nav {
    background-color: $dark-background-color;
    height: 100vh;
    margin: 0 0 0 5%;
    width: 300px;

    div#logo {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 170px;
    }

    ul#menu {
        font-family: 'Luckiest Guy', cursive;
        list-style-type: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 15%;

        li {
            height: 50px;
            border: 1px solid black;
            font-size: 2em;
            padding-top: 25px;
            text-align: center;
            margin: 5px 0;
            width: 80%;
        }

        li:hover {
            background-color:#008f95;
        }
    }
}

main {
    background-color: rgba(255,255,240,0.5);
    border-radius: 5px;
    padding: 10px;
    position: fixed;
    top: 20%;
    left: 25%;
    width: 50%;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: #FFFFF0;
    z-index: -5;
    color: white;
    text-align: center;
}