<div>
<h5>General Information</h5>
<ul>
    <li>About Us</li>
    <a href='/contact'><li>Contact Us</li></a>
</ul>
</div>
<div>
<h5>Social</h5>
<ul class='social-icons'>
    <li><%= image_tag 'facebook.png', height: '50px', alt: 'Facebook', class: 'social-icon' %></li>
    <li><%= image_tag 'twitter.png', height: '50px', alt: 'Twitter', class: 'social-icon' %></li>
    <li><%= image_tag 'instagram.png', height: '50px', alt: 'Instagram', class: 'social-icon' %></li>
</ul>