      <nav>  
        <div id='logo'>
          <a href="/"><%= image_tag 'logo.svg', height: '125px', alt: '20\'s Adventures Logo', id: 'main-logo' %></a>
        </div>
        <div>
          <ul id="menu">
            <a href='/shop'><li>Shop</li></a>
            <a href='/food'><li>Food</li></a>
            <a href='/health'><li>Health</li></a>
            <a href='/finance'><li>Finance</li></a>
            <a href='/travel'><li>Travel</li></a>
            <a href='/inspiration'><li>Inspiration</li></a>
            <a href='/dating'><li>Dating</li></a>
            <a href='/local'><li>Local</li></a>
          </ul>
        </div>
      </nav>
